.tip, .context-menu {
	display: inline-block;
	position: absolute;
	padding: 15px 25px;
	background-color: #555;
	color: goldenrod;
	border-radius: 5px;
	border: 1px solid #DDD;

}

.context-menu {
	border-top: 4px solid #e90;
	display: none;
	float: left;
	overflow: hidden;
	color: #fff;
}

.context-menu ul {
	list-style-type: none;
}

.context-menu .index-menu-list {
	padding: 0px 25px;
}

.context-menu a,.context-menu a:link,.context-menu a:after {
	color: goldenrod;
}
.context-menu a:hover {
	color: #fff;
}

.tip:after,
.tip:before {
	content: '';
	position: absolute;
	left: -14px;
	top: 2px;
	border: 8px solid transparent;
	border-right: 8px solid #555;
	transition: all 1s;
	-webkit-transition: all 1s;
}

.tip:after {
	border-right: 8px solid #555;
	top: 2px;
	left: -14px;
}

.imgtip {
	padding: 0px;
	margin: 0px;
}
.imgtip:after,
.imgtip:before {
	padding: 0px;
	margin: 0px;
	border: 0px;
	content: ;
}

.sharkarstain {
	display : none;
	position : fixed;
	cursor: normal;
	top: 0;
	margin: 0;
	padding: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}

.sharkarstain-manual {
	position : fixed;
	display: none;
	top: 0;
	left: 0;
	margin: 15px;
	padding: 15px;
	background-color: rgba(0,0,0,0.9);
	color: #ddd;
	z-index: 2;
}

.inbox_image {
	cursor: zoom-out;
    display : block;
    margin : auto;
    position: absolute;
	top: 50%;
	left: 50%;
	z-index: 3;
	transform: translate(-50%, -50%);
}


.floating_text {
	color: #e30;
	box-shadow: 1px;
	position: absolute;
	font-size: 14px;
	font-family: 'noto 雅黑';
	transform: translate(-50%, 0%)
}